<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">Meu Mural</h2>
    <!-- esse elemento agora é um router link  -->
    <button
        routerLink="/criarPensamento"
        class="botao"
      >Adicionar pensamento</button>
  </header>
  <div class="mural">
    <!-- temos uma diretiva estrutural do angular que consegue modificar o html  -->
    <!-- esse ng recebe uma expressao  -->
    <div *ngFor="let pensamento of listaPensamento">

    </div>
  </div>
</section>
